extends layout

block title
  title ksnctf C92

block hero
  h1.title ksnctf C92
  h2.subtitle &nbsp;

block content
  h1= title
  p Welcome to #{title}

  - if (user != undefined) {
    p Hi, @#{user.twitter_name}
    p Your score is #{user.score}
  - }

  h2 Problems
  ul
    - for (var id in problems) {
      li
        a(href="/problems/#{id}/") #{id}: #{problems[id].title}
    - }
