doctype html
html
  head
    block title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    nav.nav.has-shadow
      .container
        .nav-left
          a.nav-item.is-tab(href='/')
            span.icon: i.fa.fa-home
            | ksnctf C92
          a.nav-item.is-tab(href='/problems/')
            span.icon: i.fa.fa-puzzle-piece
            | 問題
          a.nav-item.is-tab(href='/ranking/')
            span.icon: i.fa.fa-bar-chart
            | ランキング
          a.nav-item.is-tab(href='/log/')
            span.icon: i.fa.fa-file-text-o
            | ログ
        .nav-right
          - if (user == undefined) {
            .nav-item
              form(method='post', action='/login')
                button.button(type='submit', style='color: #55acee')
                  span.icon: i.fa.fa-twitter
                  span ログイン
                input(type='hidden', name='_csrf', value='#{csrfToken}')
          - } else {
            .nav-item
              a(href='#{"https://twitter.com/"+user.twitter_name}', title='#{"@"+user.twitter_name}')
                img.image(src=user.twitter_icon)
              | &nbsp;
              strong= user.score + " pt"
            .nav-item
              form(method='post', action='/logout')
                button.button(type='submit')
                  span.icon: i.fa.fa-sign-out
                input(type='hidden', name='_csrf', value='#{csrfToken}')
          - }
    section.hero.is-primary
      .hero-body
        .container
          block hero
    section.section
      .container
        .content
          block content
    footer.footer
      .container
        .content.has-text-centered
          p
            | Twitter:&nbsp;
            a(href='https://twitter.com/ksnctf') @ksnctf
            span &nbsp;
            a(href='https://twitter.com/hashtag/ksnctfC92') #ksnctfC92
          p
            | ksnctf C92 by&nbsp;
            a(href='https://twitter.com/kusano_k') @kusano_k
