extends layout

block title
  title ksnctf C92 - 問題一覧

block hero
  h1.title 問題
  h2.subtitle 各問題から<code>FLAG{????}</code>という形式のフラグを探してください

block content
  table
    thead
      tr
        th(style='width: 96px')
        th(style='width: 64px') ID
        th 問題名
        th(style='width: 128px') 点数
        th 正解者
    tbody
      - for (var id in problems) {
        - var problem = problems[id];
        - var first = true;
        - var flagnum = 0;
        - for (var flag of problem.flags) {
        -   if (!flag.hidden || (user && user.hidden)) {
        -     flagnum++; }}
        - for (var flag of problem.flags) {
          - if (flag.hidden && !(user && user.hidden)) continue;
          tr
            - if (first) {
              - first = false;
              td(rowspan=flagnum)
                img(src='/problems/#{problem.id}/cover.png', style='width: 48px; height: 48px')
              td(rowspan=flagnum)= problem.id
              td(rowspan=flagnum)
                a(href='/problems/#{problem.id}/')
                  = problem.title
                each genre in problem.genres
                  | &nbsp;
                  span.tag.is-light= genre
            - }
            td.has-text-right
              span(class=flag.hidden ? 'hidden' : '')= flag.point
              | &nbsp;
              if (solved[problem.id] && solved[problem.id][flag.id])
                if solved[problem.id][flag.id].isEnded
                  span.icon.is-small.is-info
                    i.fa(class='fa-circle')
                else
                  span.icon.is-small.is-success
                    i.fa(class='fa-check')
              else
                span.icon.is-small.is-success
                  i.fa
            td
              - var solv = solver[problem.id] && solver[problem.id][flag.id] || [];
              - var num = number[problem.id] && number[problem.id][flag.id] || 0;
              - for (var s of solv) {
                a(href='https://twitter.com/'+s.twitter_name, title='@'+s.twitter_name)
                  img(src=s.twitter_icon, style='width: 32px; height: 32px')
              - }
              - if (solv.length < num) {
                span= ' +'+(num-solv.length)
              - }
        - }
      - }
