extends layout

block title
  title ksnctf C92 - #{problem.title}

block hero
  h1.title 問題
  h2.subtitle 各問題から<code>FLAG{????}</code>という形式のフラグを探してください

block content
  .columns
    .column.is-narrow
      nav.panel
        a.panel-block(href='../')
          span.panel-icon: i.fa.fa-list
          | 一覧
        - for (var id in problems) {
          - var comp = false;
          - if (user != undefined) {
          -   comp = true;
          -   for (var f of problems[id].flags) {
          -     if (f.hidden && !(user && user.hidden)) continue;
          -     if (!solved[id] || !solved[id][f.id]) comp = false;
          -   }
          - }
          a.panel-block(class=(id==problem.id ? "is-active" : ""), href='../'+id+'/')
            span= id + ' - ' + problems[id].title
            - if (comp) {
              span &nbsp;
              span.icon.is-small.is-success: i.fa.fa-check
            - }
        - }
    .column
      .card
        .card-header
          p.card-header-title
            = problem.title
        .card-content
          .columns
            .column.is-narrow
              img(src='cover.png', style='width: 128px; height: 128px')
            .column
              p!= problem.statement
              - if (user && user.hidden) {
                p.hidden!= problem.statement_hidden
              - }

          .field
            label.label 点数
            - var sep = '';
            - for (var flag of problem.flags) {
              - if (flag.hidden && !(user && user.hidden)) continue;
              span= sep
              span(class=flag.hidden ? 'hidden' : '')= flag.point
              - sep = ' / ';
              if solved[problem.id] && solved[problem.id][flag.id]
                | &nbsp;
                if solved[problem.id][flag.id].isEnded
                  span.icon.is-small.is-info: i.fa.fa-circle
                else
                  span.icon.is-small.is-success: i.fa.fa-check
            - }
          .field
            label.label ジャンル
            each genre in problem.genres
              | &nbsp;
              span.tag.is-light= genre
          form#form
            input#problem(type="hidden", value="#{problem.id}")
            input#_csrf(type='hidden', value='#{csrfToken}')
            .field
              label.label(for='flag') フラグ
              .control.has-icons-left
                span.icon.is-left
                  i.fa.fa-flag
                input.input#flag(placeholder='FLAG{????}')
            .field
              .control
                button#submit.button.is-primary(type='submit') 投稿
  #modal.modal
    #modal-background.modal-background
    .modal-card
      header.modal-card-head
        .correct.modal-card-title
          span.icon.is-success: i.fa.fa-check
          | 正解！
        .wrong.modal-card-title
          span.icon.is-danger: i.fa.fa-close
          | 不正解
        .duplicate.modal-card-title
          span.icon.is-success: i.fa.fa-check
          | 正解
        .hidden.modal-card-title
          span.icon.is-warning: i.fa.fa-question
          | ？？？？
        .ended.modal-card-title
          span.icon.is-info: i.fa.fa-circle
          | 正解
      section.modal-card-body
        .columns
          .column.is-narrow
            img(src='cover.png', style='width: 128px; height: 128px')
          .column
            p.correct
              strong#point
              | ポイントを獲得しました
            p.wrong 不正解です
            p.duplicate すでにポイントを獲得済みのフラグです
            p.hidden このフラグは今は投稿できません
            p.ended コンテストは終了しているため点数は獲得できません
            p
              code#flag_modal
      footer.modal-card-foot
        a#modal-ok.button.is-primary OK
  script(src='/javascripts/problem.js')
