extends layout

block title
  title ksnctf C92 - #{problem.title}

block hero
  h1.title 問題
  h2.subtitle 各問題から<code>FLAG{????}</code>という形式のフラグを探してください

block content
  .columns
    .column.is-narrow
      nav.panel
        a.panel-block(href='../')
          span.panel-icon: i.fa.fa-list
          | 一覧
        - for (var id in problems) {
          - var comp = false;
          - if (user != undefined) {
          -   comp = true;
          -   for (var f of problems[id].flags) {
          -     if (!solved[id][f.id]) comp = false;
          -   }
          - }
          a.panel-block(class=(id==problem.id ? "is-active" : ""), href='../'+id+'/')
            span= id + ' - ' + problems[id].title
            - if (comp) {
              span &nbsp;
              span.icon.is-small.is-success: i.fa.fa-check
            - }
        - }
    .column
      .card
        .card-header
          p.card-header-title= problem.title
        .card-content
          .columns
            .column.is-narrow
              img(src='cover.png', style='width: 128px; height: 128px')
            .column
              != problem.statement
          .field
            label.label 点数
            - var sep = '';
            - for (var flag of problem.flags) {
              span= sep + flag.point
              - sep = ' / ';
              - if (solved[problem.id] && solved[problem.id][flag.id]) {
                | &nbsp;
                span.icon.is-small.is-success: i.fa.fa-check
              - }
            - }
          form#form
            input#problem(type="hidden", value="#{problem.id}")
            input#_csrf(type='hidden', value='#{csrfToken}')
            .field
              label.label(for='flag') フラグ
              .control.has-icons-left
                span.icon.is-left
                  i.fa.fa-flag
                input.input#flag
            .field
              .control
                button.button.is-primary(type='submit') 投稿
  script(src='/javascripts/problem.js')
