extends layout

block title
  title ksnctf C92 - ランキング

block hero
  h1.title ランキング
  h2.subtitle order by 点数 desc, order by 更新日時 asc

block content
  table
    thead
      tr
        th 順位
        th 名前
        th 点数
        th 更新日時
    tbody
      - for (var i=0; i<users.length; i++) {
        tr
          td.has-text-right= i+1
          td
            - if (users[i].twitter_name=='!guest') {
              img(src=users[i].twitter_icon, style='width: 32px; height: 32px')
              = ' Guest'
            - } else {
              a(href='https://twitter.com/'+users[i].twitter_name)
                img(src=users[i].twitter_icon, style='width: 32px; height: 32px')
                = ' @' + users[i].twitter_name
            - }
          td.has-text-right= users[i].score
          td= users[i].score_updated
      - }
